h2 {
    text-align: center;
}

.container {
    display: flex;
    width: 50%;
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
}

th {
    text-align: left;
    font-size: large;
}

th, td {
    padding: 10px;
}